@charset "utf-8";
main {
    width: 100%;
}
body {
	background: none;
}
#container {
	font-family: sans-serif;
}
#formWrap {
	width:700px;
	margin:0 auto;
	line-height:120%;
	font-size:90%;
	padding: 50px;
}
#formWrap h3{
	margin: 20px auto;
	font-size: 1.2rem;
	text-align: center;
}
#formWrap p {
	margin: 20px auto;
	text-align: center;
}
table.formTable{
	width:100%;
	margin:0 auto;
	border-collapse:collapse;
}
table.formTable td,table.formTable th{
	border:1px solid #ccc;
	padding:10px;
}
table.formTable th{
	width:30%;
	font-weight:normal;
	background:#efefef;
	text-align:left;
    vertical-align: middle;
}
.center {
	margin: 20px auto;
	text-align: center;
}


@media screen and (max-width:768px) {
#formWrap {
	width:95%;
	margin:0 auto;
}
table.formTable th, table.formTable td {
	width:auto;
	display:block;
}
table.formTable th {
	margin-top:5px;
	border-bottom:0;
}
form input[type="text"], form textarea {
	width:80%;
	padding:5px;
	font-size:110%;
	display:block;
}
form input[type="submit"], form input[type="reset"], form input[type="button"] {
	display:block;
	width:100%;
	height:40px;
}
}